In [1]:
import pandas as pd

In [11]:
#Read HTML File 
income_data = pd.read_html('/Users/Sierra/Documents/Assignments/income_data.html',skiprows=0)[0]

In [29]:
#Reduce Columns 
income2 = income_data[['ZipCode', 'Median Income', 'Average Income']]

In [32]:
#Drop Null Rows 

zero = income2.loc[income2['Median Income'] =="$0.00"]
income3 = income2.drop([income2.index[18]])

In [31]:
#Rename Columns 

income4= income3.rename(columns={"ZipCode":"ZIPCODE","Median Income":"MEDIAN_INCOME","Average Income":"AVERAGE_INCOME"})
income4

    ZIPCODE MEDIAN_INCOME AVERAGE_INCOME
0     78610    $84,114.00    $108,413.00
1     78613   $107,983.00    $125,381.00
2     78615    $70,833.00     $98,823.00
3     78617    $64,117.00     $96,277.00
4     78621    $80,100.00     $85,730.00
5     78641   $105,096.00    $126,322.00
6     78645    $83,388.00    $116,422.00
7     78652    $88,243.00    $110,450.00
8     78653    $85,544.00     $89,841.00
9     78654    $57,087.00     $76,944.00
10    78660    $93,819.00    $104,978.00
11    78664    $77,679.00     $93,299.00
12    78669   $133,673.00    $166,082.00
13    78701   $127,782.00    $174,288.00
14    78702    $72,906.00     $93,784.00
15    78703   $108,065.00    $186,195.00
16    78704    $78,861.00    $118,781.00
17    78705    $23,509.00     $53,060.00
19    78719    $49,917.00     $65,064.00
20    78721    $55,359.00     $80,606.00
21    78722    $75,274.00     $97,305.00
22    78723    $72,764.00     $99,783.00
23    78724    $58,095.00     $70,092.00
24    78725    $74,205.00     $87,487.00
25    78726    $88,750.00    $123,671.00
26    78727    $83,603.00    $101,330.00
27    78728    $62,223.00     $78,449.00
28    78730   $113,614.00    $203,172.00
29    78731    $85,586.00    $141,835.00
30    78732   $175,118.00    $227,782.00
31    78733   $171,027.00    $241,690.00
32    78734   $114,709.00    $146,818.00
33    78735   $100,000.00    $154,050.00
34    78736    $97,184.00    $122,263.00
35    78737   $134,545.00    $162,987.00
36    78738   $117,371.00    $161,351.00
37    78739   $169,023.00    $191,001.00
38    78741    $52,048.00     $68,962.00
39    78742    $59,792.00     $58,328.00
40    78744    $62,905.00     $75,300.00
41    78745    $68,669.00     $85,209.00
42    78746   $151,488.00    $226,821.00
43    78747    $84,098.00     $95,805.00
44    78748    $88,688.00    $107,501.00
45    78749   $102,303.00    $121,722.00
46    78750   $100,489.00    $129,628.00
47    78751    $61,735.00     $88,340.00
48    78752    $49,214.00     $69,865.00
49    78753    $53,797.00     $69,922.00
50    78754    $77,377.00     $93,057.00
51    78756    $84,779.00    $117,297.00
52    78757    $77,560.00    $103,468.00
53    78758    $60,769.00     $72,663.00
54    78759    $87,080.00    $117,177.00

In [33]:
#Export to CSV 

income4.to_csv('income_data.csv', index=False)